* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

html {
  font-size: 22px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid seashell;
  height: 69px;
  background-color: black;
  width: 100%;
  z-index: 1;
}

header img {
  margin: 10px;
  height: 50px;
  max-width: 100%;
}

nav {
  display: flex;
  flex-wrap: nowrap;
}

header nav a {
  display: flex;
  align-items: center;
  height: 69px;
  text-decoration: underline;
  margin: 0 10px;
}

/* Banner */

.banner {
  display: flex;
  margin: 70px auto;
  max-width: 1200px;
  height: 700px;
  align-items: center;
  justify-content: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*l846b3*_ga*MDcyMjc3OTg1NS4xNjY3NTUxMjQy*_ga_3LRZM6TM9L*MTY2OTgyMjIyNy45OS4xLjE2Njk4MjYwOTguMC4wLjA.");
}

.banner .banner-content {
  display: flex;
  flex-direction: column;
  opacity: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.banner .banner-content h2,
.banner .banner-content h4 {
  padding: 10px;
}

/* Content */

.content h2,
.content h4 {
  padding: 10px;
}

.content-img {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.content img {
  height: 200px;
  width: 300px;
  margin: 10px 15px;
}

/* Locations */

.locations-bg-img {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*12rnwkx*_ga*MDcyMjc3OTg1NS4xNjY3NTUxMjQy*_ga_3LRZM6TM9L*MTY2OTgzMzY4NS4xMDEuMS4xNjY5ODMzODM4LjAuMC4w");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  min-height: 500px;
  margin: 60px auto 10px;
  padding: 60px;
}

#location {
  background-color: transparent;
  margin-bottom: 15px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  opacity: 1;
}

.child-box h3,
.child-box p {
  margin: 15px;
}

/* Footer */

contact {
  height: 200px;
  margin: 0 auto;
}

.contact h2,
.contact h5,
.contact p {
  margin-bottom: 50px;
}

#copyright {
  margin-left: 20px;
  margin-top: 40px;
  padding-bottom: 30px;
  text-align: left;
}
